
body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-image: url("xl.jpg");
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 33.3% important;
margin-bottom: 16px;
padding: 0 8px;
text-align: center;

}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
text-align: center;
}

.about-section {

width:100%;
height:120px;
padding-top:0px;
background-color: black;
text-align: center;
color:#ffbb05;
text-shadow: 0px 0px 5px #ffffff;
border:5px solid #ffbb05;
display:block;
position: relative;
font-size: 24px;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
z-index: 1;

}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: black;
text-shadow: #ffbb05 0px 0px 5px;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}
#ty{
color: black;
font-size: 20px;
text-shadow: 0px 0px 5px #ffbb05;
}

.button:hover {
background-color: #555;
}
#io{
text-align: center;
font-size: 18px;
text-shadow: 0px 0px 5px red;

}
.row{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
@media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;
}
}
