html{
  font-size: 10px;
}
body {
	font-family: 'Montserrat', sans-serif;
  background-color: black;
  margin-top: 10px;
}

p {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 14px;
  color: #5a5a5a;
  font-weight: 300;
  line-height: 25px;
}
#cc{
  position: absolute;
  top:34%;
}
#xd{
  font-size: 14px;
  float:right;
  margin-right: 10px;
  margin-top:15px;
  color:red;
  margin-bottom:15px;
  border:#ffbb05 solid 4px;
  padding:5px;
}
#xd:hover{
  font-size: 14px;
  float:right;
  margin-right: 10px;
  margin-top:15px;
  color:black;
  background-color: #ffbb05;
  border:white solid 4px;
  padding:5px;
}
#bb{
  color:#ffbb05;
  border:hsl(44, 100%, 51%) 6px solid;
  background-color: black;
  padding: 8px;
  border-radius: 4px;
}
#bb:hover{
  color:black;
  border:red 6px solid;
  background-color:#ffbb05;
  padding: 8px;
  border-radius: 6px;
  box-sizing: content-box;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.centered{
  z-index:1;
  background-color: rgba(0,0,0,0.5);
  display:block;
  position:absolute;
  top: -98px;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  border:5px solid;
  box-sizing: border-box;
  text-shadow: 2px 2px 5px red;
  margin-top: 100px;
  margin-left: -5px;
  margin-right: -10px;
 
}

.centered:hover{
  background-color:black;
  color:whitesmoke;
  border: 5px solid #ffbb05;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px red;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.overlay {
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: rgba(0,0,0,0.75); dim the background */
}

.primary-button a {
  display: inline-block;
  background-color: #ffbb05;
  color: #343434;
  font-size: 13px;
  padding: 12px 18px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid transparent;
}

.primary-button a:hover {
  background-color: transparent;
  border: 1px solid #ffbb05;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.cd-hero {
  z-index: 2;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hero-slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}
.gg{
  display: flex;
  flex-basis:auto;
  flex-wrap: wrap;
  flex-direction: row;
  border:5px solid black;
  background-color: red;
  color: black;
  height:auto;
  width:100%;
  box-sizing: border-box;
  text-align: center;

}
.gg:hover{
  border-radius: 20px 20px;
  border-style:double;
  border-width:10px;
  box-sizing: border-box;
  border-color:#ffbb05;
}

@media only screen and (min-width: 768px) {
  .cd-hero-slider {
  }
}
@media only screen and (min-width: 1170px) {
  .cd-hero-slider {
  }
}

.cd-slider-nav {
  text-align: center;
}

.cd-slider-nav ul {
  padding: 0;
  margin: 0;
}

.cd-slider-nav ul li {
  display: inline-block;
  margin: 80px 40px;
}

.cd-slider-nav ul li a {
  text-decoration: none;
}

.cd-slider-nav ul li h6 {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color:yellow;
  margin-top: 15px;
}


.cd-slider-nav .image-icon {
  margin: 0 auto; 
  margin-bottom: 0 px;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  /* margin: 0px; */
  padding: 0px;
  background-color: #ffbb05;
}

.cd-slider-nav .image-icon:hover {
  background-color: #fff;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.content {
  margin-bottom: 100px;
  margin-top: -80px;
  background-color: #fff;
  border-top: 15px solid #ffbb05;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.image-icon{
  padding-top: 10px;
}

.top-part img {
  width: 100%;
  background-size: cover;
  position: absolute; 
  overflow: hidden;
  top:0;
  left: 0;
  background-image:url("img/image4.jpg");
}
.box{
  height:30rem;
  width:30rem;
  position:relative;
  display:flex;
  margin:50px auto;
  padding:25px;
  border:5px solid  #ffbb05;
  box-shadow: 0px 0px 10px 10px ;
  border-radius: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.box:hover{
  outline: 4px dashed white;
  border-radius: 2px;
  transform:scale(1.1);
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;

  
}
#aaaaaa {
opacity: 0;
text-align: center;
padding-top: 140px;
position: relative;
height: 350px;
width: 350px;
text-shadow: 0px 0px 5px #ffbb05;
justify-content: center;
}

#aaaaaa:hover {
  opacity:100%;
  font-size:32px;
  font-weight: bold;
  color:black;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
}
a{
  text-decoration: none;
  list-style: none;
}

.first-slide {
  text-align:center;
  background-color: #fff;
  width: 100%;
  margin-top: 550px;
}

.heading {
  text-align: center;
  margin-bottom: 180px;
}

.heading h1 {
  margin-top: 30px;
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
}

.heading span {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffbb05;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.first-content h4 {
  font-size: 19px;
  text-transform: uppercase;
  color: #121212;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.first-content {
  padding: 60px 0px;
}

.first-content p {
  margin: 0px 120px;
}

.first-content .primary-button {
  margin-top: 30px;
}
footer {
  background-color: #ffbb05;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 2;
  margin-top: -1px;
}

footer p {
  font-size: 13px;
  color: #343434;
  margin: 0px;
  padding: 25px 0px;
  text-align: center;
  font-weight: 400;
}


/*
========================================
---------- RESPONSIVE STYLE ------------
========================================
*/

@media (max-width: 850px){
  .cd-slider-nav ul li h6 {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;
    display: none;
  }

  .cd-slider-nav .image-icon img {
    width: 25px;
  }

  .cd-slider-nav ul .selected img {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
  }

  .cd-slider-nav .image-icon {
    width: 0px;
    height: 0px;
    line-height: 40px;
    margin: 0 auto;
  }

  .cd-slider-nav {
    background-color: #ffbb05;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center!important;
  }

  .cd-slider-nav ul {
    padding: 0;
    margin: 0;
    text-align: center!important;
  }

  .cd-slider-nav ul li {
    display: inline-block;
    margin-top: 0px;
    margin-left: 15px;
  }

  .heading h1 {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .heading span {
    font-size: 13px;
    letter-spacing: px;
  }

  .content {
    margin-bottom: 100px;
    margin-top: -100px;
    background-color: #fff;
    border-top: 15px solid #ffbb05;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .first-content h4 {
    margin-left: 15px;
    margin-right: 15px; 
  }

  .first-content p {
    margin: 0px 30px;
  }}